.record_item {
  max-height: 200px;
  width: 100% !important;
  cursor: pointer;

  .record_item_image {
    border-radius: 8px;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100px;
  }

  .record_item_price_dollar {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 6px;
    padding-inline: 8px;
    background-color: #ffd313;
    border-radius: 6px;
    text-wrap: nowrap;
  }

  .record_item_price_tenge {
    font-size: 0.9rem;
    margin: 0;
    line-height: 1;
    padding-top: 4px;
    font-weight: 600;
    text-wrap: nowrap;
  }
}

.record_list {
  .ant-skeleton-avatar {
    height: 100px !important;
    width: 100px !important;
  }
}

@media (max-width: 768px) {
  .record_list {
    .ant-skeleton-avatar {
      height: 70px !important;
      width: 70px !important;
      margin-top: 24px;
    }
    .ant-skeleton {
      margin-left: 12px;
    }
  }

  .record_item {
    padding: 4px;
    max-height: max-content;
  }

  .record_item_description .ant-typography {
    font-size: 0.7rem;
    display: -webkit-box;
  }

  .record_item_model {
    font-size: 1.1rem;
  }
}

@media (max-width: 412px) {
  .record_item {
    .record_item_description .ant-typography {
      font-size: 0.6rem;
    }
  }
}

@media (max-width: 360px) {
  .record_item {
    .record_item_model {
      font-size: 1rem;
    }

    .record_item_price_dollar {
      font-size: 0.8rem;
      padding: 4px;
      padding-inline: 6px;
    }

    .record_item_price_tenge {
      font-size: 0.8rem;
    }

    .record_item_description .ant-typography {
      font-size: 0.6rem;
    }
  }
}
